*{margin:0; padding:0; border:0;}

 .container {
 	width: 80%;
 	margin: 0 auto;
 }

.daftar {
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin-top: 10px;
	width: 40%;
	margin: 0 auto;
	/*background-color: lightgrey;*/
}

.tambah {
	margin-top: 10px;
}

.data {
	width: 230px;
	height: 30px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.add {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.add:hover {     opacity: 0.7; }
